DJANGO_DEBUG=0
DJANGO_SECRET_KEY=gere-uma-chave-longa-e-aleatoria
DJANGO_ALLOWED_HOSTS=reparossjc.online,www.reparossjc.online
DJANGO_CSRF_TRUSTED_ORIGINS=https://reparossjc.online,https://www.reparossjc.online
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_HSTS_SECONDS=31536000
RSJC_WORKSPACE_ID=ws_reparos_sjc
RSJC_CORPORATE_OPERATOR_TOKEN=gere-um-token-longo-e-aleatorio
RSJC_AMIL_USERNAME=amil
RSJC_AMIL_PASSWORD=defina-uma-senha-forte
RSJC_AMIL_EMAIL=
